<div>
    <button mat-raised-button class="ml-1" color="primary" type="button" (click)="openDialog4()">
      <mat-icon>add</mat-icon>
        Agregar
    </button>
    <mat-form-field class="ml-3" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8 min-width">
  <table  mat-table class="full-width-table justify-content-center" [dataSource]="pacientesTodos" matSort aria-label="Elements">

    <!-- Name Column-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Nombre Completo</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.name}}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Género</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.gender}}</td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.age}}</td>
    </ng-container>

    <!-- NID Column -->
    <ng-container matColumnDef="nid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edad</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.nid}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Teléfono</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.phone}}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.address}}</td>
    </ng-container>

    <!-- E-Mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electrónico</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.email}}</td>
    </ng-container>

    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Obra Social/ Prepaga</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">{{paciente?.insuranceName.name}}</td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="actions" class="text-center">Acciones</th>
      <td mat-cell *matCellDef="let paciente" class="text-center">
        <div class="dropdown">
          <button mat-raised-button  color="primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acciones
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="openDialog3(paciente)">Editar Paciente</a>
            <a class="dropdown-item" (click)="openDialog4()">Agregar Paciente</a>
            <a class="dropdown-item" (click)="openDialog5(paciente)">Eliminar Paciente</a>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="disclaimer">
        <td mat-footer-cell *matFooterCellDef colspan="2">
          Please note that the cost of items displayed are completely and totally made up.
        </td>
      </ng-container>

    <ng-container matColumnDef="loading">
      <td class ="text-center" mat-footer-cell *matFooterCellDef colspan="9">
          No existen registros
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row class="justify-content-center" *matFooterRowDef="['loading']" [ngClass]="{'d-none': pacientesTodos.length != 0}"></tr>
  </table>
  <mat-paginator 
              [length]="pacientesTodos?.data.length"
              [pageSize]="10"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
               >
  </mat-paginator>
</div>

<div class="container" *ngIf="!pacientesTodos">
  <mat-spinner class="mx-auto spinner"></mat-spinner>
</div>




