<h1 mat-dialog-title>Información del Paciente</h1>
<div mat-dialog-content>

  <div class="example-container float-left">
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>
  </div>

  <div class="example-container float-right">
    <mat-form-field>
      <input matInput placeholder="Apellido">
    </mat-form-field>
  </div>

  <div class="example-container float-left">
    <mat-form-field>
      <input matInput placeholder="Género">
    </mat-form-field>
  </div>

  <div class="example-container float-right">
    <mat-form-field>
      <input matInput placeholder="Edad">
    </mat-form-field>
  </div>
 
  <div class="example-container float-left">
    <mat-form-field>
      <input matInput placeholder="D.N.I.">
    </mat-form-field>
  </div>
 
  <div class="example-container float-right">
    <mat-form-field>
      <input matInput placeholder="Teléfono">
    </mat-form-field>
  </div>

  <div class="example-container float-left w-100">
    <mat-form-field>
      <textarea matInput placeholder="Comentarios"></textarea>
    </mat-form-field>
  </div>
</div>
 
  <div mat-dialog-actions class="justify-content-center">
    <button mat-raised-button color="primary" (click)="onNoClick()">Guardar Cambios</button>
  </div>



